{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container-fluid"> 
    <div class="row sign-up py-5 full-screen">
        <div class="col-md-4"></div>
        <div class="col-md-4 ">
            {% if form.errors %}
            <p class="small">Password or Username is incorrect</p>
            {% endif %}
            <div class="section reg cardcard-body">
                <h1>Login</h1>
                <div class="form-section">
                    <form action="/accounts/login/" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form layout='inline' %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-info btn-sm" value="Login">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
            <div class="section">
                <p class="text-muted">Don't have an account? <a href="{% url 'register' %}"><i>Register Here</i></a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}
