{% extends  'base.html' %}
{%load bootstrap4%}


{% block content %}


<div class="container-fluid">
    <div class="row top">
        <h1>About Gikpad</h1>

    </div>
    <div class="row middle1 middle">

        <div class="text-center abt offset-md-3">
            <h4>ABOUT US</h4>
            <hr>
            <h4>
                We are a software development company consisting of IT professionals with a mission of providing
                technical
                solutions to challenges faced by businesses firms.
            </h4>
        </div>





    </div>
    <div class="row about">
        <div class="col-md-2"></div>
        <div class="col-md-4 logo">
            <img src="../static/img/about-solid-logo.png" alt="">
        </div>
        <div class="col-md-4 logo">
            <h3 class="text-left">Our story</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.

            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row statements">
        <div class="col-md-4 stm">
            <h3>Vision</h3>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </p>
        </div>
        <div class="col-md-4 stm">
            <h3>Mission</h3>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            </p>
        </div>
        <div class="col-md-4 stm">
            <h3>Core Values</h3>
            <ul>
                <li>Integrity</li>
                <li>Service</li>
                <li>Honesty</li>
                <li>Problem Solving</li>
                <li>Accountability</li>
            </ul>
        </div>

    </div>




</div>

{% endblock %}