{% extends  'base.html' %}
{%load bootstrap4%}


{% block content %}


<div class="container-fluid">
    <div class=" top">
        <h3>About Bewalt Limited</h3>

    </div>
    <div class="row middle1 middle">

        <div class="text-center abt offset-md-3">
            <h5>ABOUT US</h5>
            <hr>
            <h4>
                We are committed to providing the best possible con-
                struction expertise & service to ensure cost effective and
                successful projects.
                We work closely with our clients to accurately interpret
                their dreams/visions in drawings and bring them to the
                desired reality through construction solutions to meet
                their needs; We communicate with our clients through-
                out the construction process to keep them informed of
                progress and to ensure that our project keeps on
                schedule and within budget .
            </h4>
        </div>





    </div>
    <div class="row about">
        <div class="col-md-2"></div>
        <div class="col-md-4 logo">
            <img src="../static/img/WhatsApp Image 2022-01-15 at 13.19.24 (1).jpeg" alt="">
        </div>
        <div class="col-md-4 logo">
            <h3 class="text-left">Our story</h3>
            <p>BEWALT LIMITED is managed by highly trained and experienced staff in their various ar-
                eas of specification, executing works at international standards and certification while
                remaining committed to health, safety and environmental protection in
                ac-
                cordance with international practice.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
  




</div>

{% endblock %}