{% extends  'base.html' %}
{%load bootstrap4%}


{% block content %}


<div class="container-fluid">
    <div class="row contacts-top">
        <div class='overlay-contacts offset-md-3 py-2'>
            <h3>Contact us</h3>
            <hr>
            <h4 class="text-center">
                We ensure our client’s information is treated with utmost confidentiality, and no
information can be disclosed to a third party whatsoever.
            </h4>
        </div>

    </div>
    <div class="row contact">
        <div class="col-md-1"></div>

        <div class="col-md-5 py-4 clientform">
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Hey !</strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endif %}

          


            <form class="form" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %} ​ {% bootstrap_form form layout='block' %}
                <button type="submit" class="btn btn-sm btn-primary" style="margin-top: 10px; margin-left: 5px">
                    Submit
                </button>
            </form>



        </div>
        <div class="col-md-4 py-4">
            <h3>Contacts address</h3>
            <div class='addresses'>
                <i class="bi bi-telephone-fill"><span class="phone-text"> 0202082080 / 0714288208</span></i>

                <i class="bi bi-envelope-fill"><span class="phone-text">bewaltlimited@gmail.com</span></i>
                <i class="bi bi-geo-alt-fill"><span class="phone-text">KERICHO</span></i>

            </div>
        
        </div>
        
    </div>
    <script>
        // DEMO ONLY
        document.querySelector('#run').addEventListener('click', function () {
            var options = {
                message: document.querySelector('#message').value,
                color: document.querySelector('#color').value,
                timeout: document.querySelector('#timeout').value,
            };

            notify(options);
        });
    </script>


</div>

{% endblock %}