{% extends  'base.html' %}
{%load bootstrap4%}


{% block content %}


<div class="container-fluid">
    <div class="row info">
        <ul>
            <li>
                <i class="bi bi-telephone-fill">+2546325787</i>
            </li>
            <li>
                <i class="bi bi-clock-fill"> Mon - Sat: 9:00 - 17:00</i>

            </li>
            <li>
                <i class="bi bi-envelope-fill">info@gikpad.co.ke</i>
            </li>
        </ul>

    </div>
    <div class="row wrapper">
        <h1>Welcome to Gikpad Technologies.</h1>

    </div>

    <div class="row statements ">
        <div class="col-md-4">
            <h3>Vision Statement</h3>
        </div>
        <div class="col-md-4">
            <h3>Mission Statement</h3>
        </div>
        <div class="col-md-4">
            <h3>Core Values</h3>
        </div>

    </div>


</div>

{% endblock %}