<div class="container-fluid ">
    <div class="row info">
        <ul>
            <li>
                <i class="bi bi-telephone-fill"> 0202082080 / 0714288208</i>
            </li>
            <li>
                <i class="bi bi-clock-fill"> P. O. BOX 1225-20200
                    KERICHO</i>

            </li>
            <li>
                <i class="bi bi-envelope-fill">bewaltlimited@gmail.com</i>
            </li>
        </ul>

    </div>
</div>
<nav class="navbar py-1 navbar-expand-lg">
    <a class="navbar-brand" href="/"><img src="../static/img/logo.jpeg" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="bi bi-house-fill"></i>Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'about'%}">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'services'%}">Our Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'contacts'%}">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'projects'%}">Projects</a>
            </li>
        

        </ul>
        <!-- <div class="media">
            <ul>
                <li>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                </li>

                <li>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </li>

                <li>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                </li>

                <li>
                    <a href="#"> <i class="bi bi-youtube"></i></a>
                </li>

            </ul>
        </div> -->

    </div>
</nav>