<div class="container-fluid ">
    <div class="row info">
        <ul>
            <li>
                <i class="bi bi-telephone-fill"> +2546325787</i>
            </li>
            <li>
                <i class="bi bi-clock-fill"> Mon - Sat: 9:00 - 17:00</i>

            </li>
            <li>
                <i class="bi bi-envelope-fill">info@gikpad.com</i>
            </li>
        </ul>

    </div>
</div>
<nav class="navbar py-1 navbar-expand-lg">
    <a class="navbar-brand" href="/"><img src="../static/img/GikpadLogo1.png" alt="Gikpad Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="bi bi-house-fill"></i>Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'about'%}">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'services'%}">Our Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'contacts'%}">Contact us</a>
            </li>
            {% if user.is_authenticated%}
            <li class="nav-item">
                <a class="nav-link" href="{%url 'logout'%}">Logout</a>
            </li>
            {% endif %}

        </ul>
        <div class="media">
            <ul>
                <li>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                </li>

                <li>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </li>

                <li>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                </li>

                <li>
                    <a href="#"> <i class="bi bi-youtube"></i></a>
                </li>

            </ul>
        </div>

    </div>
</nav>